.container {
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.App {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 100px;
  max-width: 700px;
  padding: 20px 17px 24px;
}

.search-bar {
  box-sizing: border-box;
}

h2 {
  margin-bottom: 4px;
}
